<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pa3ans;AccountKey=IqAZ4Yb6IVBaQZoGtHj3P7bjOuPbik0Y9gjTNpb8xyK0pFehVQMEKxPpXzleeFWKjCQ+LTNQK4MczGuhVr4T4g=="/>
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ansstorage;AccountKey=vVnfPu8VLmUMyO1R72znrXHWsYFcLxuvYvOPWFPedI0IorXCCjzek3I1jnAfbxMWcaGLJ+qgmUw4Jtffp3OxXw==" />
  </appSettings>
</configuration>